In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers={"Accept-Language":"en-US,en;q=0.5"}

In [3]:
movie_name=[]
year=[]
time=[]
rating=[]
metascore=[]
votes=[]
gross=[]

In [4]:
pages=np.arange(1,1000,50)

In [5]:
for page in pages:
    page=requests.get("https://www.imdb.com/search/title/?title_type=feature&num_votes=10000,&sort=user_rating,desc&start=+str(page)&ref_=adv_nxt")
    soup=BeautifulSoup(page.text,'html.parser')
    movie_data = soup.findAll('div',attrs={'class':'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        name=store.h3.a.text
        movie_name.append(name)
        
        year_of_release=store.h3.find('span',class_="lister-item-year text-muted unbold").text
        year.append(year_of_release)
        
        runtime=store.p.find('span',class_="runtime").text
        time.append(runtime)
        
        rate=store.find('div',class_="inline-block ratings-imdb-rating").text
        rating.append(rate)
        
        meta=store.find('span',class_="metascore").text if store.find('span',class_="metascore") else "****"
        metascore.append(meta)
        
        value=store.find_all('span',attrs={'name':'nv'})
        
        vote=value[0].text
        votes.append(vote)
        
        grosses=value[1].text if len(value)>1 else '%^%^%'
        gross.append(grosses)
        
movie_list = pd.DataFrame({ "Movie Name": movie_name, "Year of Release" : year, "Watch Time": time,"Movie Rating": rating, "Meatscore of movie": metascore, "Votes" : votes, "Gross": gross })

In [6]:
movie_list.head(5)

,Movie Name,Year of Release,Watch Time,Movie Rating,Meatscore of movie,Votes,Gross
0,The Shawshank Redemption,(1994),142 min,\n\n9.3\n,82,"2,725,194",$28.34M
1,The Godfather,(1972),175 min,\n\n9.2\n,100,"1,894,443",$134.97M
2,Hababam Sinifi,(1975),87 min,\n\n9.2\n,****,"41,538",%^%^%
3,DAMaN,(2022),121 min,\n\n9.1\n,****,"13,162",%^%^%
4,The Dark Knight,(2008),152 min,\n\n9.0\n,84,"2,698,044",$534.86M

In [7]:
movie_list.to_excel("Top 1000 IMDB movies.xlsx")

In [8]:
movie_list.to_csv("Top 1000 IMDB Movies Record.csv")